/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

img {
    width: 30%;
}

p {
border: 2px solid black;
    text-align: center;
    width: 30%;
    margin: 50px auto;
}
    
}
